<nav class="navbar" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">
        <a href="{{ path('app_home') }}" class="navbar-item">
            <i class="icon-home is-size-3"></i>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            {{ _self.buildEntryMenu('bo_dashboard', 'back.menu.dashboard') }}
            {{ _self.buildEntryMenu('bo_season_list', 'back.menu.season') }}
            {{ _self.buildEntryMenu('bo_adherent_list', 'back.menu.adherent', 'bo_adherent_full_list') }}
            {{ _self.buildEntryMenu('bo_adherent_gallery', 'back.menu.gallery') }}
            {{ _self.buildEntryMenu('bo_payment_list_for_season', 'back.menu.payment') }}
            {{ _self.buildEntryMenu('bo_news_list', 'back.menu.news') }}
            {{ _self.buildEntryMenu('bo_text', 'back.menu.text') }}

            <div class="navbar-item has-dropdown is-hoverable">
                {% set isActive =
                    'bo_sporting_list'|matchCurrentRoute
                    or 'bo_location_list'|matchCurrentRoute
                    or 'bo_calendar_list'|matchCurrentRoute
                %}
                <a class="navbar-link{% if isActive %} is-active{% endif %}">{{ 'back.menu.configuration'|trans }}</a>
                <div class="navbar-dropdown">
                    {{ _self.buildEntryMenu('bo_sporting_list', 'back.menu.sporting') }}
                    {{ _self.buildEntryMenu('bo_location_list', 'back.menu.location') }}
                    {{ _self.buildEntryMenu('bo_calendar_list', 'back.menu.calendar') }}
                    {{ _self.buildEntryMenu('bo_discount', 'back.menu.discount') }}
                </div>
            </div>

        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="username">{{ app.user.email }}</div>
        </div>
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-warning" href="{{ path('app_logout') }}">{{ 'global.logout'|trans }}</a>
            </div>
        </div>
    </div>

</nav>

{% macro buildEntryMenu(menuPath, menuLabel) %}
    {% set isActive = menuPath|matchCurrentRoute %}
    <a href="{{ path(menuPath) }}" class="navbar-item{% if isActive %} is-active{% endif %}">{{ menuLabel|trans }}</a>
{% endmacro %}