{% extends 'layout/_back.html.twig' %}

{% block body %}

    {% embed 'back/components/_form_header.html.twig' with {
        'title': (sporting.id is null) ? ('back.sporting.edit.new'|trans) : ('back.sporting.edit.title'|trans),
        'backLink': path('bo_sporting_list'),
        'deleteAction': (sporting.id is not null) ? path('bo_sporting_delete', {'sporting': sporting.id}) : null,
        'deleteToken': (sporting.id is not null) ? csrf_token('delete-'~sporting.id) : null
    } %}
    {% endembed %}

    {{ form_start(form) }}
    <div class="columns">
        <div class="column">{{ form_row(form.active) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.name) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.tagline) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.content) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.pictureFile) }}</div>
    </div>
    <div class="is-flex is-flex-direction-row is-justify-content-flex-end is-align-content-center">
        <div class="block">
            <button type="submit" class="button is-success">{{ 'global.save'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
