{% extends 'layout/_back.html.twig' %}

{% form_theme form 'back/season/_form.html.twig' %}

{% block body %}

    {% embed 'back/components/_form_header.html.twig' with {
        'title': ('back.season.edit.title'|trans)~' '~season.getDisplayLabel(),
        'backLink': path('bo_season_list')
    } %}
        {% block rightNav %}
            {% if season.id is not null and not season.active %}
                <div class="level-item">
                    <form
                        data-confirm
                        data-confirm-message="{{ 'back.season.edit.confirmActivate'|trans }}"
                        action="{{ path('bo_season_activate', {'season': season.id}) }}"
                        method="POST"
                    >
                        <input type="hidden" name="_token" value="{{ csrf_token('activate-'~season.id) }}" />
                        <button type="submit" class="button is-warning">
                            <span>{{ 'global.activate'|trans }}</span>
                            <span class="icon"><i class="icon-checkmark"></i></span>
                        </button>
                    </form>
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}

    {{ form_start(form) }}
    <div class="notification is-info">{{ 'form.season.help'|trans|raw }}</div>
    <div class="columns">
        <div class="column">
            {{ form_row(form.startDate) }}
        </div>
        <div class="column">
            {{ form_row(form.endDate) }}
        </div>
    </div>
    <div class="columns">
        <div class="column">
            {{ form_row(form.paymentLink) }}
        </div>
    </div>
    <div class="columns">
        <div class="column">
            {{ form_row(form.licenceLink) }}
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="fieldset fieldset--price-options">
                <label>{{ 'form.season.optionTitle'|trans }}</label>
                {{ form_row(form.priceOptions) }}
            </div>
        </div>
    </div>
    <div class="is-flex is-flex-direction-row is-justify-content-flex-end is-align-content-center">
        <div class="block">
            <button type="submit" class="button is-success">{{ 'global.save'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
