{% extends 'layout/_back.html.twig' %}

{% block body %}

    {% embed 'back/components/_form_header.html.twig' with {
        'title': ('back.registration.new.title'|trans)~' - '~('back.registration.new.season'|trans)~' '~registration.season.getDisplayLabel(),
        'backLink': path('bo_adherent_list')
    } %}
    {% endembed %}

    {{ form_start(form) }}
    <div class="columns">
        <div class="column">{{ form_row(form.adherent.lastName) }}</div>
        <div class="column">{{ form_row(form.adherent.firstName) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.withLegalRepresentative, {'attr': {'data-field-update': 'legal-representative'}}) }}</div>
    </div>
    <div data-field-update-target="legal-representative">
        {% if form.legalRepresentative is defined %}
        <div class="columns">
            <div class="column">
                <div class="fieldset">
                    {{ form_label(form.legalRepresentative) }}
                    <div class="columns">
                        <div class="column">{{ form_row(form.legalRepresentative.firstName) }}</div>
                        <div class="column">{{ form_row(form.legalRepresentative.lastName) }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="columns">
        <div class="column">
            <div class="fieldset">
                {{ form_label(form.emergency) }}
                <div class="columns">
                    <div class="column">{{ form_row(form.emergency.lastName) }}</div>
                    <div class="column">{{ form_row(form.emergency.firstName) }}</div>
                    <div class="column">{{ form_row(form.emergency.phone) }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.adherent.pseudonym) }}</div>
        <div class="column">{{ form_row(form.adherent.birthDate) }}</div>
        <div class="column">{{ form_row(form.adherent.gender) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.adherent.email) }}</div>
        <div class="column">{{ form_row(form.adherent.phone) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.adherent.address.street) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.adherent.address.zipCode) }}</div>
        <div class="column">{{ form_row(form.adherent.address.city) }}</div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="fieldset">
                <label>{{ 'form.registration.documents.label'|trans }}</label>
                <div class="columns">
                    <div class="column">{{ form_row(form.registrationType) }}</div>
                </div>
                <div class="columns">
                    <div class="column">{{ form_row(form.adherent.pictureFile) }}</div>
                </div>
                <div class="columns">
                    <div class="column">{{ form_row(form.medicalCertificateFile) }}</div>
                </div>
                <div class="columns">
                    <div class="column">{{ form_row(form.licenceFormFile) }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.comment) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.purpose) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.priceOption) }}</div>
    </div>
    {% if form.usePassCitizen is defined
        or form.usePassSport is defined
        or form.useCCAS is defined
    %}
        <div class="columns mt-2">
            <div class="column">
                <div class="fieldset">
                    <label>{{ 'form.registration.refundHelp'|trans }}</label>
                    {% if form.usePassCitizen is defined %}
                        <div class="columns">
                            <div class="column">
                                {{ form_row(form.usePassCitizen, {'attr': {'data-field-update': 'pass-citizen'}}) }}
                                <div data-field-update-target="pass-citizen">
                                    {% if form.passCitizenFile is defined %}
                                        <div class="m-top-1">
                                            {{ form_row(form.passCitizenFile) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if form.usePassSport is defined %}
                        <div class="columns">
                            <div class="column">
                                {{ form_row(form.usePassSport, {'attr': {'data-field-update': 'pass-sport'}}) }}
                                <div data-field-update-target="pass-sport">
                                    {% if form.passSportFile is defined %}
                                        <div class="m-top-1">
                                            {{ form_row(form.passSportFile) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if form.useCCAS is defined %}
                        <div class="columns">
                            <div class="column">{{ form_row(form.useCCAS) }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="columns">
        <div class="column">{{ form_row(form.copyrightAuthorization) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.privateNote) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.licenceNumber) }}</div>
        <div class="column">{{ form_row(form.licenceDate) }}</div>
        <div class="column">{{ form_row(form.registeredAt) }}</div>
    </div>
    <div class="is-flex is-flex-direction-row is-justify-content-flex-end is-align-content-center">
        <div class="block">
            <button type="submit" class="button is-success">{{ 'global.save'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
