{% extends 'layout/_back.html.twig' %}

{% block body %}

    <h1 class="title">{{ 'back.payment.grid.title'|trans }}</h1>

    <div class="tabs is-centered is-boxed">
        <ul>
            {% for season in seasons %}
                <li{% if season.id == currentSeason.id %} class="is-active"{% endif %}>
                    <a href="{{ path('bo_payment_list_for_season', {'season': season.id}) }}">{{ season.getDisplayLabel() }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div data-grid="data-grid">

        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="field has-addons">
                        <div class="control has-icons-left">
                            {% set dataSearch = ['type', 'adherent', { name: 'date', attr: 'data-payment-date' },] %}
                            <input
                                id="input-search-id"
                                class="search input"
                                type="text"
                                autofocus="autofocus"
                                placeholder="{{ 'global.search'|trans }}"
                                data-search="{{ dataSearch|json_encode }}"
                            />
                            <span class="icon is-small is-left">
                                <i class="icon-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="{{ path('bo_export_payment', {'season': currentSeason.id}) }}" target="_blank" class="button is-success">
                        <span>{{ 'global.export'|trans }}</span>
                        <span class="icon is-small">
                            <i class="icon-export"></i>
                        </span>
                    </a>
                </div>
            </div>
        </nav>

        {% embed 'back/components/_table.html.twig' with {'tableId': 'payment-list-table'} %}

            {% block thead %}
                <th class="sortable">
                    {{ 'back.payment.grid.header.date'|trans }}
                    <div class="sort" data-sort="date"></div>
                </th>
                <th class="sortable">
                    {{ 'back.payment.grid.header.type'|trans }}
                    <div class="sort" data-sort="type"></div>
                </th>
                <th>{{ 'back.payment.grid.header.amount'|trans }}</th>
                <th class="sortable">
                    {{ 'back.payment.grid.header.adherent'|trans }}
                    <div class="sort" data-sort="adherent"></div>
                </th>
                <th></th>
            {% endblock %}

            {% block tbody %}
                {% for payment in payments %}
                    <tr>
                        <td class="date" data-payment-date="{{ payment.date|date('Ymd') }}">{{ payment.date|date('d/m/Y') }}</td>
                        <td class="type">{{ payment.paymentType|trans }}</td>
                        <td>{{ payment.amount|number_format(2, ',' , ' ') }}</td>
                        <td class="adherent">{{ payment.adherent.fullName }}</td>
                        <td class="action">
                            <button type="button" class="button is-info" data-preview-url="{{ path('bo_payment_view', {'payment': payment.id}) }}">
                                <span class="icon"><i class="icon-eye"></i></span>
                            </button>
                            <a href="{{ path('bo_payment_edit_for_season', {'payment': payment.id}) }}" class="button is-primary">
                                <span class="icon"><i class="icon-pencil"></i></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endblock %}

        {% endembed %}

    </div>

    <div id="modal-payment-preview" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div id="modal-payment-content"></div>
        </div>
        <button class="modal-close is-large"></button>
    </div>

{% endblock %}
