{% extends 'layout/_front.html.twig' %}

{% block meta %}
    <meta name="keywords" content="Krav Maga, self defense, club, Oise, Chantilly, Senlis, Creil, Clermont" />
    <meta name="description" content="Le KMIS, club de Krav Maga Self Defense dans l'Oise vous permettra d'apprendre à vous défendre. Venez améliorer votre condition physique, développer votre mental et vos techniques de combat.">
    <meta name="og:title" property="og:title" content="Krav Maga Impact System">
{% endblock %}

{% block header %}
    {% include 'front/components/_banner-home.html.twig' %}
{% endblock %}

{% block body %}

    {% if homePresentation is not empty %}
        <div id="club" class="section" itemscope itemtype="https://schema.org/Organization">
            <h2 data-aos="zoom-out" data-aos-duration="1000">{{ 'front.home.section.club'|trans }}</h2>
            <div>{{ homePresentation|raw }}</div>
        </div>
    {% endif %}

    <div id="sporting" class="section">
        <h2 data-aos="zoom-out">{{ 'front.home.section.sporting'|trans }}</h2>
        <div class="sporting-slider">
            <div class="swiper-wrapper">
                {% for sporting in sportings %}
                    <div class="swiper-slide">
                        {% include 'front/components/_home_slide.html.twig' with {'sporting': sporting} %}
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <div id="practical-info" class="section">

        <h2 data-aos="zoom-out">{{ 'front.home.section.practicalInfo'|trans }}</h2>

        <div class="sessions">
            {% for location in locations %}
                {% include 'front/components/_home_location.html.twig' with {location: location} %}
            {% endfor %}
        </div>

        {% embed 'front/components/_card.html.twig' with {
            'title': 'front.home.section.pricing'|trans,
            'center': true,
            'cssClass': 'pricing'
        } %}
            {% block content %}
                <div class="pricing__detail">
                    <ul>
                        {% for priceOption in priceOptions %}
                            <li>{{ priceOption.label }} : <strong>{{ priceOption.amount }} <i class="icon-euro"></i></strong></li>
                        {% endfor %}
                    </ul>
                </div>
                {% if pricingNote is not empty %}
                    <div class="pricing__note">
                        <ul>
                            <li>{{ pricingNote|raw }}</li>
                        </ul>
                    </div>
                {% endif %}
            {% endblock %}
        {% endembed %}

        {% embed 'front/components/_card.html.twig' with {
            'title': 'front.home.section.equipment'|trans,
            'center': true,
            'cssClass': 'equipment'
        } %}
            {% block content %}
                <div class="equipment__detail">
                    <div>Obligatoire</div>
                    <ul>
                        <li>Baskets propres dédiées à la salle</li>
                        <li>Coquille pelvienne</li>
                        <li>Mitaines MMA</li>
                    </ul>

                </div>
                <div class="equipment__detail">
                    <div>Recommandé</div>
                    <ul>
                        <li>Protège dents</li>
                        <li>Protège tibias</li>
                        <li>Protège avant-bras</li>
                        <li>Casque idéalement type Kudo</li>
                    </ul>
                </div>
            {% endblock %}
        {% endembed %}

    </div>

{% endblock %}
