{% extends 'layout/_front.html.twig' %}

{% block title %}Les disciplines du KMIS{% endblock %}

{% block meta %}
    <meta name="keywords" content="krav-maga, self-defense, mma, cours femmes, cours ados, cardio training, combat, mental" />
    <meta name="description" content="Entraînez-vous comme vous voulez vous défendre. Le KMIS vous propose des méthodes simples, exigeantes et efficaces pour progresser efficacement (renforcement musculaire, dépassement de soi, techniques de combat...).">
    <meta name="og:title" property="og:title" content="Les disciplines du KMIS">
{% endblock %}

{% block header %}
    {% include 'front/components/_banner.html.twig' with {
        'image': asset('build/images/sporting.webp'),
        'title': ('front.sporting.header.title'|trans),
    } only %}
{% endblock %}

{% block body %}

    <div class="sporting-wrapper">
        {% for sporting in sportings %}
            <div id="{{ sporting.id }}" class="section">
                <h2 data-aos="zoom-out" data-aos-duration="1000">{{ sporting.name }}</h2>
                <div class="sporting">
                    <div class="sporting__image with-background" data-aos="zoom-in" data-aos-duration="1200">
                        <img src="{{ path('app_sporting_picture', {'sporting': sporting.id}) }}" alt="{{ sporting.name }}"/>
                    </div>
                    <div class="sporting__content">
                        {{ sporting.content|raw }}
                    </div>
                </div>
                {% if schedules[sporting.id] is defined %}
                    <div class="sporting-reminder">
                        {% for schedule in schedules[sporting.id] %}
                            <div>Cours le {{ schedule.calendar.day|trans }} : {{ schedule.displaySchedule() }} à <strong itemprop="addressLocality">{{ schedule.calendar.location.name }}</strong></div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
