{% extends 'layout/_back.html.twig' %}

{% block body %}

    <nav class="level">
        <div class="level-left">
            <h1 class="title">{{ 'back.text.title'|trans }}</h1>
        </div>
    </nav>

    <div class="notification is-primary">{{ 'form.wysiwyg.help'|trans }}</div>

    {{ form_start(form) }}

    <h2 class="subtitle">{{ form_label(form.homePresentation) }}</h2>
    {{ form_widget(form.homePresentation) }}

    <h2 class="subtitle">{{ form_label(form.contact) }}</h2>
    {{ form_widget(form.contact) }}

    <div class="is-flex is-flex-direction-row is-justify-content-flex-end is-align-content-center">
        <div class="block">
            <button type="submit" class="button is-success">{{ 'global.save'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
