{% block schedule_row %}
  <div class="columns">
    <div class="column">{{ form_row(form.start) }}</div>
    <div class="column">{{ form_row(form.end) }}</div>
  </div>
  <div class="schedule-help">{{ 'form.calendar.schedule.help'|trans }}</div>
  <div class="columns">
    <div class="column">{{ form_row(form.sporting) }}</div>
    <div class="column">{{ form_row(form.detail) }}</div>
  </div>
{% endblock %}
