{% extends 'layout/_back.html.twig' %}

{% form_theme form 'back/content/calendar/_form.html.twig' %}

{% block body %}

    {% embed 'back/components/_form_header.html.twig' with {
        'title': (calendar.id is null) ? ('back.calendar.edit.new'|trans) : ('back.calendar.edit.title'|trans),
        'backLink': path('bo_calendar_list'),
        'deleteAction': (calendar.id is not null) ? path('bo_calendar_delete', {'calendar': calendar.id}) : null,
        'deleteToken': (calendar.id is not null) ? csrf_token('delete-'~calendar.id) : null
    } %}
    {% endembed %}

    {{ form_start(form) }}
    <div class="columns">
        <div class="column">{{ form_row(form.day) }}</div>
        <div class="column">{{ form_row(form.location) }}</div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="fieldset">
                <label>{{ 'back.calendar.form.scheduleTitle'|trans }}</label>
                {{ form_row(form.schedules) }}
            </div>
        </div>
    </div>
    <div class="is-flex is-flex-direction-row is-justify-content-flex-end is-align-content-center">
        <div class="block">
            <button type="submit" class="button is-success">{{ 'global.save'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
