{% extends 'layout/_back.html.twig' %}

{% block body %}

    {% embed 'back/components/_list_header.html.twig' with {
        'title': ('back.calendar.list.title'|trans),
        'subTitle': (calendars|length~' '~('back.calendar.list.count'|trans)),
        'addLink': path('bo_calendar_new'),
        'addLabel': 'back.calendar.list.action.add'|trans
    } %}
    {% endembed %}

    <div data-grid="data-grid">

        {% embed 'back/components/_table.html.twig' %}

        {% block thead %}
            <th>{{ 'back.calendar.list.header.day'|trans }}</th>
            <th class="half">{{ 'back.calendar.list.header.location'|trans }}</th>
            <th class="half">{{ 'back.calendar.list.header.schedules'|trans }}</th>
            <th></th>
        {% endblock %}

        {% block tbody %}
            {% for calendar in calendars %}
                <tr>
                    <td>{{ calendar.day|trans }}</td>
                    <td>{{ calendar.location.name }}</td>
                    <td>{{ calendar.displaySchedules() }}</td>
                    <td class="action">
                        <div class="action-wrapper">
                            <a href="{{ path('bo_calendar_edit', {'calendar': calendar.id}) }}" class="button is-primary">
                                <span class="icon"><i class="icon-pencil"></i></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}

        {% endembed %}

    </div>

{% endblock %}
