{% extends 'layout/_back.html.twig' %}

{% block body %}

    <h1 class="title">{{ 'back.adherent.list.title'|trans }}</h1>

    <h2 class="subtitle">{{ registrations|length }} {{ 'back.adherent.list.count'|trans }}</h2>

    <div data-grid="data-grid" class="grid-adherent">

        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <div class="field has-addons">
                        <p class="control has-icons-left">
                            <input
                                id="input-search-id"
                                class="search input"
                                type="text"
                                autofocus="autofocus"
                                placeholder="{{ 'global.search'|trans }}"
                                data-search='["firstName", "lastName", "email"]'
                            />
                            <span class="icon is-small is-left">
                                <i class="icon-search"></i>
                            </span>
                        </p>
                    </div>
                </div>
                {% for filter in filters %}
                    {% set filterButtonClass = (filter == currentFilter) ? 'button is-info' : 'button is-outlined is-info' %}
                    {% set filterButtonLink = path('bo_adherent_list', {'season': currentSeason.id, 'filter': filter}) %}
                    <div class="level-item">
                        <a href="{{ filterButtonLink }}" class="{{ filterButtonClass }}">{{ ('back.adherent.list.filter.'~filter)|trans }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="{{ path('bo_export_adherent') }}" target="_blank" class="button is-success">
                        <span>{{ 'global.export'|trans }}</span>
                        <span class="icon is-small">
                            <i class="icon-export"></i>
                        </span>
                    </a>
                </div>
                <div class="level-item">
                    <a href="{{ path('bo_registration_new') }}" class="button is-primary">
                        <span>{{ 'back.adherent.list.action.add'|trans }}</span>
                        <span class="icon is-small">
                            <i class="icon-more"></i>
                        </span>
                    </a>
                </div>
            </div>
        </nav>

        <nav class="level">
            <div class="level-left">
                {% for season in seasons %}
                    <div class="level-item">
                        {% if season.id == currentSeason.id %}
                            <span class="button is-info">{{ season.displayLabel }}</span>
                        {% else %}
                            <a href="{{ path('bo_adherent_list', {'season': season.id}) }}" class="button is-outlined is-info">{{ season.displayLabel }}</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="level-right">
                <a href="{{ path('bo_adherent_full_list') }}" class="button is-primary" title="{{ ''|trans }}">
                    <span>{{ 'global.seeAll'|trans }}</span>
                    <span class="icon is-small">
                        <i class="icon-eye"></i>
                    </span>
                </a>
            </div>
        </nav>

        {% embed 'back/components/_table.html.twig' %}

        {% block thead %}
            <th></th>
            <th>
                {{ 'back.adherent.list.header.lastName'|trans }}
                <div class="sort" data-sort="lastName"></div>
            </th>
            <th>
                {{ 'back.adherent.list.header.firstName'|trans }}
                <div class="sort" data-sort="firstName"></div>
            </th>
            <th>{{ 'back.adherent.list.header.phone'|trans }}</th>
            <th>{{ 'back.adherent.list.header.email'|trans }}</th>
            <th class="has-text-centered">{{ 'back.adherent.list.header.reEnrollment'|trans }}</th>
            <th class="has-text-centered">{{ 'back.adherent.list.header.sold'|trans }}</th>
            <th></th>
        {% endblock %}

        {% block tbody %}
            {% for registration in registrations %}
                <tr>
                    <td class="gender gender--{{ registration['gender'].name|lower }}"><i class="icon-user"></i></td>
                    <td class="lastName">{{ registration['lastName'] }}</td>
                    <td class="firstName">{{ registration['firstName'] }}</td>
                    <td>{{ registration['phone'] }}</td>
                    <td class="email">{{ registration['email'] }}</td>
                    <td class="has-text-centered">
                        {% if registration['reEnrollment'] %}
                            <span class="icon has-text-success"><i class="icon-checkmark"></i></span>
                        {% else %}
                            <span class="icon has-text-danger"><i class="icon-cross"></i></span>
                        {% endif %}
                    </td>
                    <td class="has-text-centered">
                        {% if registration['totalPaid'] < registration['toPay'] %}
                            <span class="icon has-text-danger"><i class="icon-cross"></i></span>
                        {% else %}
                            <span class="icon has-text-success"><i class="icon-checkmark"></i></span>
                        {% endif %}
                    </td>
                    <td class="action">
                        <a href="{{ path('bo_adherent_edit', {'adherent': registration['adherentId']}) }}" class="button is-primary">
                            <span class="icon"><i class="icon-pencil"></i></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}

        {% endembed %}

    </div>


{% endblock %}
