{% extends 'layout/_back.html.twig' %}

{% block body %}

    {% embed 'back/components/_form_header.html.twig' with {
        'title': (location.id is null) ? ('back.location.edit.new'|trans) : ('back.location.edit.title'|trans),
        'backLink': path('bo_location_list'),
        'deleteAction': (location.id is not null) ? path('bo_location_delete', {'location': location.id}) : null,
        'deleteToken': (location.id is not null) ? csrf_token('delete-'~location.id) : null
    } %}
    {% endembed %}

    {{ form_start(form) }}
    <div class="columns">
        <div class="column">{{ form_row(form.active) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.name) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.address.street) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.address.street2) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.address.zipCode) }}</div>
        <div class="column">{{ form_row(form.address.city) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.latitude) }}</div>
        <div class="column">{{ form_row(form.longitude) }}</div>
    </div>
    <div class="columns">
        <div class="column">{{ form_row(form.localization) }}</div>
    </div>
    <div class="is-flex is-flex-direction-row is-justify-content-flex-end is-align-content-center">
        <div class="block">
            <button type="submit" class="button is-success">{{ 'global.save'|trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
